.seperator_col_caption{
    width: 120px;
}
.seperator_col_line{
    width: 500px;
}
.seperator_col_link{
    width: 90px;
}
.ui-widget-content{
    border: none !important;
    background: none !important;
    color: #000000;
}
.user_name{
    font-family: 'Lucida Sans Unicode','Lucida Grande',sans-serif;
    font-size: 16px;
    color: #020E3D;
    font-weight: bold;
    line-height: 101%;
}
.additional_info{
    font-family: 'MS Serif','New York',serif;
    font-size: 14px;
    color: #394470;
    font-weight: bold;
    font-style: italic;
    line-height: 101%;
}
.labels{
    font-family: 'Palatino Linotype','Book Antiqua',Palatino,serif;
    font-size: 14px;
    color: #5D6166;
    font-weight: bold;
    line-height: 101%;
}
.info_text{
    font-family: Verdana,Geneva,sans-serif;
    font-size: 14px;
    line-height: 101%;
}
.text_separator{
    font-family: Verdana,Geneva,sans-serif;
    font-size: 12px;
    color: #464747;
    line-height: 101%;
}
.line_separator{
    color: #464747;
}